<plugin name='spring-mobile' version='0.1' grailsVersion='1.3.6 &gt; *'>
  <author>Sebastien Blanc</author>
  <authorEmail>sblanc@e-id.nl</authorEmail>
  <title>Spring Mobile Grails plugin</title>
  <description>\
Device resolver based on the Spring Mobile Library
</description>
  <documentation>http://grails.org/plugin/spring-mobile</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='filters' version='1.3.6' />
  </dependencies>
  <behavior />
</plugin>