<plugin name='spring-mobile' version='0.5' grailsVersion='1.3.6 &gt; *'>
  <author>Sebastien Blanc</author>
  <authorEmail>scm.blanc@gmail.com</authorEmail>
  <title>Spring Mobile Grails plugin</title>
  <description>\
Device resolver based on the Spring Mobile Library
</description>
  <documentation>http://grails.org/plugin/spring-mobile</documentation>
  <type>SpringMobileGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='http://maven.springframework.org/milestone/' url='http://maven.springframework.org/milestone/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.springframework.mobile' name='spring-mobile-device' version='1.1.0.M1' />
    </compile>
    <runtime>
      <dependency group='net.sourceforge.wurfl' name='wurfl' version='1.3.1.1' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>